<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
	<Properties>
		<Property name="log-path">applogs</Property>
		<Property name="kafka.brokers">172.28.247.237:9092</Property>
		<Property name="kafka.start.topic">ms-start-log</Property>
		<Property name="kafka.event.topic">mslog</Property>
		<Property name="microserver.name.id">ms.xmppconn.1</Property>
	</Properties>

	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
				>
			</PatternLayout>
		</Console>
		<File name="App-File-Appender" fileName="${log-path}/app_log.log">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
		</File>
		<File name="SpringBoot-File-Appender" fileName="${log-path}/springboot_log.log">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
		</File>
		<Kafka name="KAFKA" topic="${kafka.event.topic}">
			<ThresholdFilter level="ALL" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern=" ${microserver.name.id} %d{yyyy-MM-dd HH:mm:ss,SSS}: %4p %t (%F:%L) %m" />
			<Property name="bootstrap.servers">${kafka.brokers}</Property>
		</Kafka>

		<Kafka name="KAFKA-START" topic="${kafka.start.topic}">
			<ThresholdFilter level="ALL" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern=" ${microserver.name.id} %d{yyyy-MM-dd HH:mm:ss,SSS}: %m" />
			<Property name="bootstrap.servers">${kafka.brokers}</Property>
		</Kafka>

	</Appenders>
	<Loggers>
		<Logger name="org.springframework.web" level="info" additivity="false">
			<AppenderRef ref="SpringBoot-File-Appender" />
			<AppenderRef ref="Console-Appender" />
		</Logger>
		<Logger name="guru.springframework.blog.controllers" level="info"
			additivity="false">
			<AppenderRef ref="App-File-Appender" />
			<AppenderRef ref="Console-Appender" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="App-File-Appender" />
			<AppenderRef ref="Console-Appender" />
		</Root>
		<Logger name="io.kandy.protocol.xmpp.controller.XMPPController"
			level="trace">
			<AppenderRef ref="KAFKA" />
			<AppenderRef ref="Console-Appender" />
		</Logger>
		<Logger name="io.kandy.protocol.xmpp.XMPPApplication"
            level="info">
            <AppenderRef ref="KAFKA-START" />
        </Logger>
		<Logger name="org.apache.kafka" level="info" />
	</Loggers>
</Configuration>